/* Estilos para el fondo, contenedores y mas */
.fondo {
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* se queda fijo */
  margin: 0;
  padding: 0;
}
.cuerpo 
{
    /*background: url(img/cocina.jpg) center/cover no-repeat fixed;*/
    height: 100vh;
    margin: 0;
}
.cuerpo2 
{
   /*background: url(img/Picada.jpg) center/cover no-repeat fixed;*/
    height: 100vh;
    margin: 0;
}

.contenedor
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.3); /* Fondo negro con 60% de opacidad */
    margin: 20px;          /* Espacio alrededor de la caja */
    padding: 15px;         /* Espacio interno, para que el texto no se pegue al borde */
    border-radius: 20px;   /* Opcional: suaviza las esquinas */
}
.contenedor2
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 60% de opacidad */
    margin: 20px;          /* Espacio alrededor de la caja */
    padding: 15px;         /* Espacio interno, para que el texto no se pegue al borde */
    border-radius: 20px;   /* Opcional: suaviza las esquinas */
}
.contenedor-centrado
{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente (opcional) */
}