/* Esilo de componentes y titulos, etc */
.enlace
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f9f9f9;
}
.imagen-receta 
{
  width: 300px;/* Define un ancho y alto fijos para todas las imágenes con esta clase */
  height: 200px;
  object-fit: cover;/* Rellena el espacio sin deformar la imagen, recortando si es necesario */
  object-position: center;/* Opcional: Centra la imagen dentro de su marco */
}

.titulo
{
    color:aqua;
    text-align: center;
    font-size: 50px;
}
.subtitulo
{
    text-decoration: underline;
    color: aquamarine;
}
.texto
{
    color: rgb(255, 255, 255);
}

.tabla-recetas {
  width: 100%;
  border-collapse: collapse;
  color: white;
  font-family: Georgia, 'Times New Roman', serif;
}

.tabla-recetas th,
.tabla-recetas td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.tabla-recetas th {
  color: aquamarine;
  font-size: 1.2rem;
}
